.flex-column{
    flex-direction: column;
/*    text-align: center;*/
    /*justify-content: center;*/
}

.flex{
    display: flex;
}

.box{
    flex:1;
}

.container{
    position: relative !important;
}

.flex-item{
    flex-grow: 1;
}
.second{
    order: 1;
}
.first {
    order: 0;
}
.third{
    order: 2;
}

li{list-style: none;}
a{text-decoration: none;color: white;}
body{background-color: lightgray;}
.top-menu {
    text-align: left;
    padding: 10px 5px 10px;
}
/*LEFT MENU*/
.top-menu > a:not(:last-child){
    margin-right: 5px;
}

.top-menu div{
    padding: 5px 0px;
    -webkit-transition: color .7s ease, font-size .7s ease;
       -moz-transition: color .7s ease, font-size .7s ease;
         -o-transition: color .7s ease, font-size .7s ease;
            transition: color .7s ease, font-size .7s ease;
}

.top-menu div:hover{
    color: mediumaquamarine !important;
    font-size: 20pt !important;
}

.text-block {
    background-color: black;
    margin: 10px 0px;
    min-height: 100%;
    opacity: .5;
    border-radius: 1px;
    color:white;
    
    /*Transitions for Box-Shadow and Size*/
    -webkit-transition: box-shadow .7s, transform .7s, opacity .7s ease-in-out;
       -moz-transition: box-shadow .7s, transform .7s, opacity .7s ease-in-out;
         -o-transition: box-shadow .7s, transform .7s, opacity .7s ease-in-out;
        -ms-transition: box-shadow .7s, transform .7s, opacity .7s ease-in-out;
            transition: box-shadow .7s, transform .7s, opacity .7s ease-in-out;
}

.text-block:hover{
    box-shadow: 0px 8px 5px -5px mediumaquamarine;
    transform: scale(1.02);
    opacity: 1;
}

.text-center {
    text-align: center;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.flex-row {
    flex-direction: row;
}

.flex-row > div{
    flex: 1;
}

/*Make all children except for last ni a flex-container-row have a right padding of 20px*/
.flex-row > div:not(:last-child){
    margin-right:20px;
}

.nav-top {
    border: 1px solid darkred;
    background-color: darkred;
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
/*    opacity: .5;*/
    
    transition: opacity .5s ease-in-out;
}

/*
.nav-top:hover{
    opacity: 1;
}*/

.innerFlex {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}


