.flex-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    /*justify-content: center;*/
}

.flex-item{
    flex-grow: 1;
}
.second{
    order: 1;
}
.first {
    order: 0;
}
.third{
    order: 2;
}

li{list-style: none;}
a{text-decoration: none;color: mediumaquamarine;}
body{background-color: black;}