/*
	Main Style Sheet for IfThereWereNoInter.net
*/

/* CSS RESET FOR GOOD MEASURE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;*/
  vertical-align: baseline;
    height: 100%;
    /*width: 100%*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
    min-height: 200px;
    position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

.comingSoon{
  bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 455px;
    height: 200px;
  font-size: 46px;
  font-family: helvetica;
}

.circleLinkButton{
  border-radius: 50px;
  background-color: #B21212;
  height:50px;
  width:50px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.circleLinkButtonWrapper{
  height:50px;
  width:50px;
  bottom:10px;
  right:25px;
  position: fixed;
    z-index: 1000;
}

a:link
{
  text-decoration: none;
  color: #000000;
}

a:visited, a:hover
{
  color: #000000;
}

.shadowFrameSmall
{
  width:100px;
  height:25px;
  background-color:#000000;
  box-shadow: 0px 8px 5px -5px #E42217;
  border-radius: 5px;
  margin: 5px 0px 2px 5px;
  float:left;
  color:white;
  padding: 5px;
}

.shadowFrameSmallRT
{
  margin-right: 5px;
}

.topMenu
{
  background-color: #4e7a8a;
  float:left;
  border-radius: 5px; 
  height:50px;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}

.topBar{
  background-color: #FF8000;
  height: 50px;
  box-shadow: 0px 8px 5px -5px #151515;
  font-size:20pt;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    
    z-index: 1;
    position: relative;
    width: 100%;
}

.topBarGreen{
  background-color: #2DC55F;
  height: 50px;
  box-shadow: 0px 8px 5px -5px #a1e9b9;
  font-size:20pt;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    
    z-index: 1;
    position: relative;
    width: 100%;
}

.left{
  float:left; 
  margin-left: 20px;
}

.headerPic
{
    background-color: #ffffff;
    height: 150px;
    z-index: 1;
    background-image: url("/images/sunrise.jpg");
    /*background-repeat: repeat-y;*/
    background-size: 100% 450px;
    position: relative;
}
.middle {margin: 10px 0px auto 20px;}
.content {
    position: relative;
    overflow:auto;
    width: 100%;
        
}

.innerContent {
    left: 0; top:10px; right: 0;
    margin: auto;
    position: relative;
    width: 75%;
    min-width: 75%;
    height: 95%;
    
}

.threecolumn1 {
    width: 32.5%;
    background-color: white;
    z-index: 2;
    position: relative;
    float:left;
    border-radius: 5px;
    margin-right:5px;
    min-height: 200px;
}

.threecolumn2 {
    width: 32.5%;
    background-color: blue;
    z-index: 2;
    position: relative;
    float:left;
    border-radius: 5px;
    margin-right:5px;
    min-height: 200px;
}

.threecolumn3 {
    width: 32.5%;
    background-color: green;
    z-index: 2;
    position: relative;
    float:left;
    border-radius: 5px;
    min-height: 200px;
}

.stickyTop {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}


/*

  EXPERAMENTAL MOBILE LAYOUT FIX

*/

@media screen and (max-width: 765px){
  .innerContent{min-width: 0px;}
  .threecolumn1{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
  .threecolumn2{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
  .threecolumn3{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
}

@media screen and (max-device-width: 1080px) and (max-device-width: 640px){
  .innerContent{min-width: 0px;}
  .threecolumn1{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
  .threecolumn2{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
  .threecolumn3{width: 100%;float:none;margin-bottom: 10px;height: 30%;}
}


.innerContentWrapper {
    position: relative;
    width: 100%;     
    height: 80%;
}
