body{
    height: 100vh;
    overflow: auto;
    padding-top: 1%;
}

a{
    text-decoration: none;
    color: black;
}
.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.nav-top {
    list-style:none;
    margin:5px 0px;
    padding:5px;
    text-align:center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-top li{
    display: inline-block;
    line-height: 15px;
    padding: 5px 0px;
    width:140px;
    border-bottom: 1px solid black;
    font-size: 25pt;
    
    -webkit-transition: border-color .5s ease, border-width .5s ease;
       -moz-transition: border-color .5s ease, border-width .5s ease;
         -o-transition: border-color .5s ease, border-width .5s ease;
        -ms-transition: border-color .5s ease, border-width .5s ease;
            transition: border-color .5s ease, border-width .5s ease;  
}

.nav-top li:hover{
    border-bottom: 5px solid #FF5252;
    font-weight: bold;
}

.header-bar {
    width:75%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;    
    z-index: 100;
}

.body-content {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    z-index: 50;
    border-radius: 2px;
    margin-bottom: 10px;
}

.body-content, .body-content-half{
    -webkit-transition: box-shadow .7s, transform .7s ease-in-out;
       -moz-transition: box-shadow .7s, transform .7s ease-in-out;
         -o-transition: box-shadow .7s, transform .7s ease-in-out;
        -ms-transition: box-shadow .7s, transform .7s ease-in-out;
            transition: box-shadow .7s, transform .7s ease-in-out;
}

.body-content p, .body-content-half p{
    height: 100%;
    position: relative;
}

.text-center {
    text-align: center;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.body-content:hover,.body-content-half:hover{
    box-shadow: 0px 8px 5px -5px #FF5252;
    transform: scale(1.05);
}

.box-shadow-bottom-right-red{
        box-shadow: 0px 8px 5px -5px #FF5252;
}

.two-column-wrapper{
    width: 75%;
/*    height: 55vh;*/
}

.body-content-half {
    width:49.5%;
    z-index: 50;
    float:left;
    border-radius: 2px;
    position: relative;
    height: 100%;
}

.middle-divider{
    width: 1%;
    float:left;
    z-index: 50;
}


@media screen and (max-device-width: 1080px) and (max-device-width: 640px){
  .body-content-half{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 50;
    border-radius: 2px;
        margin-bottom: 10px;
      font-size: 25pt;
  }
    
    .body-content{
        font-size: 25pt;
    }
}

@media screen and (max-width: 765px){
    .body-content-half{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 50;
    border-radius: 2px;
        margin-bottom: 10px;
        font-size: 25pt; /* Make the shit readable on smaller screens*/
  }
    
    .body-content{
        font-size: 25pt; /* Make the shit readable on smaller screens*/
    }
}
