/*body{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}*/
.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.nav-top {
    list-style: none;
    list-style-type: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-top li{
    display: inline-block;
/*
    margin-left: 5px;    
    margin-right: 5px;
*/
    padding: 2px;
    text-align: center;
    width:23.5%;
    border-bottom: 1px solid black;
    -webkit-transition: border-color .5s ease, border-width .5s ease;
       -moz-transition: border-color .5s ease, border-width .5s ease;
         -o-transition: border-color .5s ease, border-width .5s ease;
        -ms-transition: border-color .5s ease, border-width .5s ease;
            transition: border-color .5s ease, border-width .5s ease;  
}

.nav-top li:hover{
    border-bottom: 5px solid #FF5252;
    font-weight: bold;
}

.header-bar {
    width:95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;    
    z-index: 100;
}

.body-content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    z-index: 50;
    border-radius: 2px;
}

.text-center {
    text-align: center;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.body-content-half {
    width:49.5%;
    z-index: 50;
    float:left;
    border-radius: 2px;
}

.middle-divider{
    width: 1%;
    float:left;
    z-index: 50;
}
