.flex{
    display: flex;
}

.flex-even{
    justify-content: space-between;
}

.infoRow{
/*    flex: 2 !important;*/
}

.third{
    width: 33%;
}

.menuItem{
    width: 33%;
    background-color: #669999;
    align-items: center;
    justify-content: center;
/*    padding: 10px;*/
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #AA3939;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.flex-footer{
    flex-grow: 1;
    background-color: #88CC88;
    align-items: stretch;
}

.footer{
}

.flex-column {
    flex-direction: column;
    height: 100%;
}

.flex-header{
    flex-grow: 1;
    align-items: stretch;
}

.flex-content {
    flex-grow: 20;
    padding: 20px;
    font-weight: 600;
    flex-direction: column;
    background-color: #FFD1AA;
}

.flex-content h1 {
    font-style: italic;
}

.footerItem {
    width: 33%;
    justify-content: flex-start;    
    padding-left: 10px;
    flex-direction: column;
}

.footerItem a
{
    text-decoration: none;
    color: inherit;
}
