/* NEW STYLES */
html
{
    height:100%;
    background-color: #6D0000;
}

body {
  min-height: 100%;
}
.hello {
    color: white;    
}

.CenterText{
    text-align: center;
}

.SectionTitle {
    font-size: 2em;
    line-height: 1.5em;
}

.SingleCol {
    width: 35%;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}