/* NEW STYLES */
html
{
    height:100%;
    background-color: #6D0000;
}

hr{
    border-color: black;
}
body {
  min-height: 100%;
}
.white {
    color: white;    
}

.CenterText{
    text-align: center;
}

.SectionTitle {
    font-size: 2em;
    line-height: 1.5em;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.SingleCol {
    width: 75%;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color:black;
}
.content-wrapper {
    width: 75%;
    height: 100%;
    background-color: burlywood;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hella-important {
    font-weight: bolder;
    font-size: 15pt;
    font-style: italic;
}

li
{
    list-style: none;
    height: inherit;
    line-height: 50px;
    padding: 0 10px;
    -webkit-transition: color .5s ease, -webkit-transform .5s ease;
       -moz-transition: color .5s ease, -moz-transform .5s ease;
         -o-transition: color .5s ease, -o-transform .5s ease;
        -ms-transition: color .5s ease, -ms-transform .5s ease;
            transition: color .5s ease, transform .5s ease;  
}
ul {
    display: flex;
    justify-content: center;
}
li:hover{
    color:red;
    transform: scale(1.5);
}
.shadow {
    box-shadow: 0px 8px 5px -5px black;
}
